<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<% if @picture.photosphere? %>
	<p>
	  <strong>Picture URL:</strong>
	  <%= @picture.photosphere_url.to_s%>
	</p>

	<div id="example" data-url="<%= @picture.photosphere_url.to_s %>"></div>

	<%= render 'layouts/graphics' %>
<% end %>

<!-- <p>
	<%= image_tag @picture.photosphere_url.to_s if @picture.photosphere? %>
</p> -->



<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
