<p id="notice"><%= notice %></p>

<div class="row">
	
	<% if @picture.photosphere? %>

		<div class="col-xs-12">
			<!-- <div id="example" data-url="<%= @picture.photosphere_url.to_s %>"></div> -->
			<%= content_tag "div", id: "example", style: "height: 500px; width: auto;", data: {url: @picture.photosphere_url.to_s, vr: false} do %>
			<% end %>
		</div>

		<%= render 'layouts/graphics' %>
	<% end %>

	<!-- <div class="col-xs-8 col-xs-offset-2">

		<div class="panel  panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @picture.name %></h3>
			</div>
		  <div class="panel-body">

				

				<div class="row">
					<div class="col-xs-12">
						<% if @picture.user == current_user %>
							<%= link_to 'Edit', edit_picture_path(@picture) %> |
							<%= link_to 'Try VR', vr_picture_path(@picture) %>
						<% else %>
							<%= link_to 'Try VR', vr_picture_path(@picture) %>
						<% end %>
					</div>
				</div>

			</div>
		</div>

	</div> -->
</div>



<!-- <p>
	<%= image_tag @picture.photosphere_url.to_s if @picture.photosphere? %>
</p> -->




