<% if @picture.photosphere? %>
		<div class="vr_pict">
			<!-- <div id="example" data-url="<%= @picture.photosphere_url.to_s %>"></div> -->
			<%= content_tag "div", id: "vr_viewer", style: "height: 500px; width: auto;", data: {url: @picture.photosphere_url.to_s} do %>
			<% end %>
		</div>

	<%= render 'layouts/graphics' %>
<% end %>

<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">

		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<h3><%= @picture.name %></h3>
			</div>
			<% if @picture.user == current_user %>
				<div class="col-xs-12 col-sm-4">
					<%= link_to 'Edit', edit_picture_path(@picture) %>
				</div>
			<% end %>
		</div>

	</div>
</div>




