<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2">

		<div class="panel  panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @picture.name %></h3>
			</div>
		  <div class="panel-body">

				<% if @picture.photosphere? %>

					<div class="row">
						<div class="col-xs-12">
							<!-- <div id="example" data-url="<%= @picture.photosphere_url.to_s %>"></div> -->
							<%= content_tag "div", id: "example", style: "height: 500px; width: auto;", data: {url: @picture.photosphere_url.to_s, vr: false} do %>
							<% end %>
						</div>
					</div>

					<%= render 'layouts/graphics' %>
				<% end %>

				<div class="row">
					<div class="col-xs-12">
						<%= link_to 'Edit', edit_picture_path(@picture) %>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>



<!-- <p>
	<%= image_tag @picture.photosphere_url.to_s if @picture.photosphere? %>
</p> -->




